/* Tambahan fix navbar */
header {
  background-color: #0F0F0F;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  padding: 1em 2em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

body {
  font-family: 'Zain', Arial, sans-serif;
  margin: 0;
  padding-top: 100px; /* agar konten tidak tertimpa navbar */
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.menu-text,
.menu-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.svg-background,
.svg-background-aboutme,
.svg-foreground-aboutme {
  z-index: 0 !important;
}
